
.left-bar {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 100px;
  height: calc(120vh - 90px);
  background-color: #62a2be;
  padding: 20px 8px;
  z-index: 10;
  box-sizing: border-box;
  overflow-y: auto;

}

.left-bar::-webkit-scrollbar {
  display: none;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.nav-btn button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  min-height: 80px;
  background: #62a2be;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-btn button:hover {
  color: #515c6c;
}

.nav-btn button.active {
  color: #515c6c;
}
