.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #62a2be;

}
.top-bar img {
  width: 150px;
  height: 70px;

}


.title h1{
  color: #ffffff;
  font-size: 2.2rem;
  font-style: italic;
  text-align: center;
}
.top-bar button {
  width: 120px;
  height: 40px;
  background: #62a2be;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
}

.top-bar button:hover {

  color: #515c6c ;
}








